/docker-compose.yml

# Visual Studio/JetBrains Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.dotCover

# Build и кэшированные файлы
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.log
*.cache
*.csproj.user