@page "/"
@rendermode InteractiveServer

<h3>test</h3>
<button @onclick="ChangeText">press me</button>
<p>@text</p>

@code {
    private string text = "not pressed";

    private void ChangeText()
    {
        text = "pressed";
        Console.WriteLine("Button clicked"); // Вывод в консоль сервера
    }
}
